@font-face {
  font-family: "muktaregular";
  src: url("../src/fonts/mukta-regular-webfont.woff2") format("woff2"),
    url("../src/fonts/mukta-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "macondoregular";
  src: url("../src/fonts/macondo-regular-webfont.woff2") format("woff2"),
    url("../src/fonts/macondo-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
}

* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  grid-template-columns: 1fr 4.5fr;
  grid-template-rows: 0.6fr 5fr 0.3fr;
}

.header {
  grid-area: 1/2/2/3;
  background-color: #82b5d3;
  box-shadow: 0px 0px 10px 1px #888888;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "macondoregular";
}
.caption {
  font-size: 2em;
}
.nav {
  grid-area: 1/1/3/2;
  background-color: #e2e8f0;
  box-shadow: inset 0px 0px 10px 1px #888888;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 7fr;
  gap: 2%;
  padding: 10%;
}

.project-shortcut > div > img {
  margin-bottom: -5px;
}

.project-shortcut > div {
  display: flex;
  justify-content: space-between;
}

.display {
  grid-area: 2/2/3/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 5fr;
  background-color: #f3eded;
  overflow: overlay;
}

.footer {
  grid-area: 3/1/4/3;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-small;
}

.project-shortcut {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #c2410c;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.project-shortcut:hover {
  color: #973108;
  cursor: crosshair;
}

.to-do-shortcut {
  font-size: 1rem;
  font-weight: lighter;
  color: black;
  border: 0.5px black solid;
  box-shadow: inset 0px 0px 10px 1px #888888;
  border-radius: 8px;
  list-style: none;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-do-shortcut:hover {
  background-color: #ccd3dd;
  cursor: pointer;
}

.to-do-display {
  position: relative;
  height: 300px;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  padding: 15px 30px 15px 30px;
  box-shadow: 2px 3px 4px 1px rgb(0 0 0 / 50%);
  border-left: solid 8px;
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 0.75fr;
}

.project-display {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-display-header {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 3em;
  text-decoration: underline;
  font-family: "macondoregular";
}

.project-buttons {
  grid-area: 1/1/2/2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-nav-bar {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#rmProject {
  align-self: flex-end;
  width: 115px;
  height: 2em;
  background-color: rgb(243, 135, 135);
  border-radius: 8px;
  border: red solid 1px;
  margin-right: 20px;
}
#rmProject:hover {
  cursor: pointer;
  background-color: rgb(255, 165, 165);
}

.project-buttons > button {
  height: 2em;
  font-size: 1.25em;
  background-color: #9cddac;
  border-radius: 8px;
}
.project-buttons > button:hover {
  cursor: pointer;
  background-color: #7fda96;
}

.display-to-do-display {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 300px);
  gap: 10px;
  font-family: "muktaregular";
  padding: 10px;
}

.to-do-name {
  grid-area: 1/1/2/2;
  align-self: center;
  justify-self: center;
  margin-top: -5px;
  margin-bottom: 5px;
}
.to-do-steps {
  grid-area: 2/1/3/2;
  line-height: 1.25;
  color: #757474;
  padding-left: 2em;
  margin-left: -2em;
  overflow: overlay;
}

.images {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.priority {
  font-weight: bolder;
}

.priority-icons {
  grid-area: 3/1/4/2;
  display: inline-flex;
  justify-content: space-between;
}

img {
  height: 25px;
  width: 25px;
}

img:hover {
  cursor: pointer;
  background-color: #f3eded;
}

.completed {
  box-sizing: border-box;
  position: absolute;
  background-color: rgba(178, 241, 82, 0.5);
  width: 100%;
  height: 25%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  left: -10px;
  top: 37.5%;
  transform: rotate(-31deg);
  border: solid 1px black;
  font-size: x-large;
  opacity: 0.75;
  color: #757474;
}

.module {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 0.5fr 0.5fr;
  position: absolute;
  width: 50vw;
  height: 50vh;
  background-color: black;
  color: white;
  left: 25vw;
  top: 25vh;
}

.module-background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.9;
  top: 0;
  left: 0;
}

.module-name {
  grid-area: 1/1/2/2;
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.toDoName {
  grid-area: 1/1/2/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.toDoProject {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
}
select {
  height: 75%;
}

.small {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
}

.module input {
  height: 3em;
  padding-left: 10px;
}

.module-steps {
  grid-area: 2/1/3/2;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.module textarea {
  padding: 5px;
}

.module-priority {
  grid-area: 3/1/4/2;
  font-size: 2em;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  margin-bottom: 15px;
}

.module-buttons {
  grid-area: 4/1/5/2;
  display: grid;
  grid-template-columns: 1fr 0.75fr 1fr;
  grid-template-rows: 1fr;
}

.module-buttons button {
  width: 100%;
  height: 100%;
}

.strikeThrough {
  text-decoration: line-through;
}

.to-do-shortcut > img {
  align-self: center;
  justify-self: end;
}
